<div
  id="formstack-embed"
  data-contact-id="{{ customer_id }}"
  data-lastname="{{ customer_lastname }}"
></div>

<script
  type="text/javascript"
  id="jsFastForms"
  src="https://kctcsworkforcesolutions--kctcssb.sandbox.my.salesforce-sites.com/services/apexrest/VisualAntidote/FFNEngine/v1/?d=kcqbwhSaMj2huYixpD3BnQ%3D%3D&contact_id={{ customer_id }}">
</script>